*{
	font-family: arial, sans-serif;
}

html,body{
	width: 100%;
}



#content{
	height: 220px;
	width: 300px;
	border: 3px solid #4286f4;
	padding:20px;
}

nav{
	width: 98%;
	height: 35px;
	border: 3px solid #4286f4;
	display: table;

}


nav p{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}


#second{
	display: flex;
	height: 130px;
	width: 100%;	

}


aside{
	width: 30%;
	height: auto;
	background-color: #4286f4;
	border-top: 5px solid #fff;
}


main{
	width: 70%;
	height: auto;
	background-color: #30ddb2;
	border-right: 5px solid #fff;
	border-top: 5px solid #fff;
}



aside p, main p{
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 80px;
}

/*Footer*/

#footer{
	height: 50px;
	width: 298px;
	background-color: #d9dce0;
}

#footer li{
	display: inline;
	text-decoration: none;
	font-size: 12px;

}

#footer a{
	line-height: 50px;
	text-decoration: none;
	color: #fff;
}

/*End of Footer*/




